body{
   background:url('/images/bg.gif');
   margin:0px;
   padding:0px;
   font-family: 'Droid Sans', 'trebuchet ms', sans-serif;
   color: #777;
   font-size: 15px;
}

*, a, img{
   border:none;
}

h1, h2, h3{
   font-family:'Advent Pro', 'Droid Sans', 'Trebuchet ms', sans-serif;
}
#wrapper{
   width:974px;
   position:relative;
   left:50%;
   margin-left:-487px;
}
header{
   width:974px;
   height:129px;
   background:url('/images/header.png');
   position:relative;
}
header #logo{
   position:absolute;
   left:10px;
   top:16px;
}
#banner{
   width: 963px;
   height: 342px;
   background: #F2F2F2 url('/images/banner.jpg') no-repeat;
   position: relative;
   left: 6px;
   border-radius: 5px;
   box-shadow: 0 2px 4px #B7B7B7;
   margin: 10px 0;
}
#banner .services{
   position:absolute;
   right:12px;
   top:12px;
   background:#ffffff;
   width: 380px;
   height: 297px;
   border-radius: 3px;
   box-shadow: 0 2px 2px #B7B7B7;
   padding: 10px;
}
#boxes li {
   width: 275px;
   height: 287px;
   background: white;
   float: left;
   margin: 17px 40px 10px 0;
   border-radius: 5px;
   box-shadow: 0 2px 4px #D6D6D6;
   position: relative;
   padding: 10px;
   font-family: 'Advent pro', sans-serif;
}
#boxes {
   padding: 0;
   margin: 0 0 20px;
   list-style-type: none;
   height: 341px;
}
#boxes li div {
   width: 295px;
   height: 109px;
   background: url('/images/boximgs.png');
   position: absolute;
   bottom: 0px;
   left: 0;
}
#boxes .advertise{
   background-position:0 218px;
}
#boxes .whitelabel{
   background-position:0 109px;
}
#partners {
   width: 965px;
   height: 80px;
   background: white url('/images/partners.jpg') no-repeat;
   margin: 7px 0 20px 7px;
   background-position: center center;
   border-radius: 5px;
   box-shadow: 0 2px 4px #D6D6D6;
}
footer{
   background:#ddd;
   height: 60px;
}
footer #copy {
   font-size: 13px;
   position: relative;
   left: 10px;
   margin: 10px 0;
   width: 974px;
   position: relative;
   left: 50%;
   margin-left: -482px;
   top: 24px;
   color: #666;
}
ul.menu {
   margin: 0;
   padding: 0;
   list-style-type: none;
   position: absolute;
   right: 13px;
   bottom: 18px;
}
ul.menu li {
   float: left;
   margin: 0 9px;
}
ul.menu li a {
   font-family: 'glegoo', 'Droid Sans', 'trebuchet ms', sans-serif;
   font-weight: 600;
   text-decoration: none;
   font-size: 14px;
   text-transform: lowercase;
   color: #9e791b;
   text-shadow: 0 1px 2px white;
}

ul#users {
   margin: 0;
   padding: 0;
   list-style-type: none;
   position: absolute;
   right: 9px;
   bottom: 56px;
}
ul#users li {
   float: left;
   padding: 0 9px;
}
ul#users li a {
   font-family: 'glegoo', 'trebuchet ms', sans-serif;
   font-weight: 600;
   text-decoration: none;
   font-size: 12px;
   text-transform: lowercase;
   color: #daecff;
   text-shadow: 0 1px 2px #3e70a6;
}
#primary #contact {
   background: #66A9F0;
   display: block;
   padding: 9px;
   border-radius: 5px;
   text-align: center;
   color: white;
   font-weight: bold;
   text-decoration: none;
   text-shadow: 0 -1px 0px #2A67A5;
   box-shadow: 0 2px 3px #555;
   border-top: solid 1px #AFD3F8;
   border-bottom: solid 1px #2A67A5;
   margin-top: 18px;
}
span.title {
   text-transform: uppercase;
   font-family: 'advent pro', sans-serif;
   color: #9FCB67;
   font-weight: 500;
   font-size: 26px;
}
.edit-link {
   display: none;
}
.services ul {
   font-family: 'Advent pro', sans-serif;
   color: #9FCB67;
   line-height: 26px;
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.services ul li {
   padding: 5px 0;
   border-top: 1px solid white;
   border-bottom: 1px solid #ECECEC;
}
.services ul li span {
   color: #777;
}
#boxes p {
   line-height: 24px;
   margin: 8px 0;
   font-size: 15px;
}
#boxes span.title {
   font-size: 25px;
}
#banner-ad {
   position: absolute;
   right: 320px;
   top: 71px;
   text-align: right;
}
#banner-title {
   font-family: 'Advent pro';
   font-size: 77px;
   font-weight: 100;
   color: #66A8EF;
}
#banner-text {
   font-family: 'advent pro';
   font-size: 37px;
   position: absolute;
   top: 106px;
   right: 0;
   font-weight: 200;
}
#cta {
   width: 210px;
   height: 81px;
   background: url('/images/action.png') no-repeat;
   display: block;
   position: relative;
   bottom: -88px;
   left: 177px;
   line-height: 81px;
   text-align: center;
   text-decoration: none;
   font-family: 'advent pro';
   font-size: 32px;
   color: #3B70A8;
   text-shadow: 0 1px 1px #BAD3ED;
}
#cta:hover{
   background-position:bottom;
   color:#b28c2a;
}
form#login input, .wpcf7-submit, .become-btn {
   background: #EBEBEB;
   border: none;
   height: 24px;
   width: 148px;
   border-radius: 6px;
   padding: 3px 10px;
   font-size: 14px;
   box-shadow: -1px -1px 0px #DADADA;
   outline-width: 0px;
}
#login {
   position: absolute;
   top: 9px;
   right: 20px;
}
.submit, .wpcf7-submit, .become-btn {
   width: 65px!important;
   height: 31px!important;
   background: #A0CB68!important;
   box-shadow: 0 2px 2px #6D6D6D!important;
   color: white;
   text-shadow: 0 -1px 0px #658D31;
}

#container.page {
   background: white;
   border-radius: 5px;
   box-shadow: 0 1px 6px #DDD;
   padding: 10px;
   width: 942px!important;
   margin: 10px 0 0 7px;
   overflow:auto;
}

#primary {
   float: right;
}
#primary ul{
   list-style-type: none;
   padding: 0;
   margin: 10px;
}
#primary ul.xoxo {
   width: 268px;
}
#primary ul li {
   border-radius: 5px;
   box-shadow: 0 2px 3px #BDBDBD;
   margin: 0 0 16px;
   font-size: 13px;
   line-height: 19px;
   position: relative;
   height: 154px;
   background: url('/images/sidebar-imgs.png');
}
.widget-title {
   margin: 0 0 5px;
font-size: 20px;
font-weight: bold;
font-family: 'Advent Pro', 'Droid Sans', 'Trebuchet ms', sans-serif;
color: white;
position: absolute;
bottom: 4px;
left: 10px;
}
#primary .more{
   top: -5px;
}
#primary #publishers{
   background-position:0 308px;
}
#primary #whitelabel{
   background-position:0 154px;
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#comments {
   display: none;
}

.entry-title {
   margin: 0;
   color: #66A9F0;
   font-size: 43px;
   font-weight: normal;
}

.entry-content{
   font-size: 15px;
   line-height: 27px;
}

.page-template-default .entry-content{
   width: 650px;
}

#boxes a{
   text-decoration:none;
   color:#444;	
}
#boxes a:hover span.more, #primary a.more:hover{
   background:#66A9F0;
}

#boxes span.more,#primary a.more {
   width: 89px!important;
   height: 25px!important;
   background: #A0CB68;
   box-shadow: 0 2px 2px #6D6D6D!important;
   color: white;
   text-shadow: 0 -1px 0px #658D31;
   display: block;
   text-align: center;
   line-height: 25px;
   text-decoration: none;
   border-radius: 3px;
   position: absolute;
   bottom: -8px;
   z-index: 9;
   right: 10px;
   font-weight: 600;
}

#boxes span.more:hover{
   background:#66A9F0;
}

.wpcf7-not-valid-tip-no-ajax, .wpcf7-response-output.wpcf7-validation-errors {
color: red;
display: block;
}
.wpcf7-mail-sent-ok{
   color:green;
}

.wpcf7 input, .wpcf7 textarea{
   width:100%!important;
}
input.wpcf7-not-valid{
   border:solid 2px red;
}
.wpcf7 td{
padding: 0 10px;
position:relative;
}

.become-btn {
width: 223px!important;
display: block;
text-decoration: none;
height: 25px!important;
text-align: center;
float: left;
}
.contact-cont{
   float: right;
width: 414px;
background: #F9F9F9;
padding: 10px;
border: solid 1px #D1D1D1;
border-radius: 5px;
position:relative;
}
.contact-cont img{
   position: absolute;
bottom: -301px;
}

.submit.login{
   display: block;
height: 27px!important;
width: 132px!important;
text-decoration: none;
line-height: 27px;
text-align: center;
border-radius: 5px;
position: absolute;
right: 24px;
top: 10px;
}
input, textarea {
border: solid 1px #999;
border-radius: 3px;
}