body{
   background:url('/images/bg.gif');
   margin:0px;
   padding:0px;
font-family: 'Droid Sans', 'trebuchet ms', sans-serif;
color: #777;
font-size: 15px;
}

h1, h2, h3{
   font-family:'Advent Pro', 'Droid Sans', 'Trebuchet ms', sans-serif;
}
#wrapper{
   width:974px;
   position:relative;
   left:50%;
   margin-left:-487px;
}
header{
   width:974px;
   height:129px;
   background:url('/images/header.png');
   position:relative;
}
header #logo{
   position:absolute;
   left:10px;
   top:16px;
}
#banner{
   width: 963px;
   height: 342px;
   background: #F2F2F2 url('/images/banner.jpg') no-repeat;
   position: relative;
   left: 6px;
   border-radius: 5px;
   box-shadow: 0 2px 4px #B7B7B7;
   margin: 10px 0;
}
#banner .services{
   position:absolute;
   right:12px;
   top:12px;
   background:#ffffff;
   width: 380px;
   height: 297px;
   border-radius: 3px;
   box-shadow: 0 2px 2px #B7B7B7;
   padding: 10px;
}
#boxes li {
width: 275px;
height: 301px;
background: white;
float: left;
margin: 17px 40px 10px 0;
border-radius: 5px;
box-shadow: 0 2px 4px #D6D6D6;
position: relative;
padding: 10px;
font-family: 'Advent pro', sans-serif;
}
#boxes {
padding: 0;
margin: 0 0 20px;
list-style-type: none;
height: 341px;
}
#boxes li div {
width: 295px;
height: 109px;
background: url('/images/boximgs.png');
position: absolute;
bottom: 0px;
left: 0;
}
#boxes .advertise{
   background-position-y:218px;
}
#boxes .whitelabel{
   background-position-y:109px;
}
#partners {
width: 965px;
height: 80px;
background: white url('/images/partners.jpg') no-repeat;
margin: 7px 0 20px 7px;
background-position: center center;
border-radius: 5px;
box-shadow: 0 2px 4px #D6D6D6;
}
footer{
	background-image: linear-gradient(bottom, rgb(239,194,60) 0%, rgb(244,215,88) 100%);
background-image: -o-linear-gradient(bottom, rgb(239,194,60) 0%, rgb(244,215,88) 100%);
background-image: -moz-linear-gradient(bottom, rgb(239,194,60) 0%, rgb(244,215,88) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(239,194,60) 0%, rgb(244,215,88) 100%);
background-image: -ms-linear-gradient(bottom, rgb(239,194,60) 0%, rgb(244,215,88) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(239,194,60)),
	color-stop(1, rgb(244,215,88))
);
height: 100px;
}
footer #copy {
font-size: 13px;
position: relative;
left: 10px;
margin: 10px 0;
width: 974px;
position: relative;
left: 50%;
margin-left: -482px;
top: 24px;
color: white;
text-shadow: 0 1px 0 #A18817;
}
ul.menu {
margin: 0;
padding: 0;
list-style-type: none;
position: absolute;
right: 13px;
bottom: 18px;
}
ul.menu li {
float: left;
margin: 0 9px;
}
ul.menu li a {
font-family: 'glegoo', 'Droid Sans', 'trebuchet ms', sans-serif;
font-weight: 400;
text-decoration: none;
font-size: 15px;
text-transform: lowercase;
color: #9e791b;
text-shadow: 0 1px 2px white;
}

ul#users {
margin: 0;
padding: 0;
list-style-type: none;
position: absolute;
right: 9px;
bottom: 56px;
}
ul#users li {
float: left;
margin: 0 13px;
}
ul#users li a {
font-family: 'glegoo', 'trebuchet ms', sans-serif;
font-weight: 400;
text-decoration: none;
font-size: 13px;
text-transform: lowercase;
color: #daecff;
text-shadow: 0 1px 2px #3e70a6;
}
span.title {
text-transform: uppercase;
font-family: 'advent pro', sans-serif;
color: #9FCB67;
font-weight: 500;
font-size: 26px;
}
.services ul {
font-family: 'Advent pro', sans-serif;
color: #9FCB67;
line-height: 26px;
list-style-type: none;
padding: 0;
margin: 0;
}
.services ul li {
padding: 5px 0;
border-top: 1px solid white;
border-bottom: 1px solid #ECECEC;
}
.services ul li span {
color: #8B8B8B;
}
#boxes p {
line-height: 24px;
margin: 8px 0;
font-size: 15px;
}
#boxes span.title {
font-size: 31px;
}
#banner-ad {
position: absolute;
right: 320px;
top: 71px;
text-align: right;
}
#banner-title {
font-family: 'Advent pro';
font-size: 77px;
font-weight: 100;
color: #66A8EF;
}
#banner-text {
font-family: 'advent pro';
font-size: 37px;
position: absolute;
top: 106px;
right: 0;
font-weight: 200;
}
#cta {
width: 210px;
height: 81px;
background: url('/images/action.png') no-repeat;
display: block;
position: relative;
bottom: -88px;
left: 177px;
line-height: 81px;
text-align: center;
text-decoration: none;
font-family: 'advent pro';
font-size: 32px;
color: #3B70A8;
text-shadow: 0 1px 1px #BAD3ED;
}
#cta:hover{
	background-position:bottom;
	color:#b28c2a;
}
form#login input {
background: #EBEBEB;
border: none;
height: 24px;
width: 148px;
border-radius: 6px;
padding: 3px 10px;
font-size: 14px;
box-shadow: -1px -1px 0px #DADADA;
outline-width: 0px;
}
#login {
position: absolute;
top: 9px;
right: 20px;
}
.submit {
width: 65px!important;
height: 31px!important;
background: #A0CB68!important;
box-shadow: 0 2px 2px #6D6D6D!important;
color: white;
text-shadow: 0 -1px 0px #658D31;
}

#container.page {
background: white;
border-radius: 5px;
box-shadow: 0 1px 6px #DDD;
padding: 10px;
width: 942px!important;
margin: 10px 0 0 7px;
overflow:auto;
}

#primary {
float: right;
}
#primary ul{
	list-style-type: none;
padding: 0;
margin: 10px;
}
#primary ul.xoxo {

background: #EDEDED;
padding: 12px;
border-radius: 5px;
box-shadow: 0 2px 3px #BDBDBD;
}

article {
width: 646px;
}
#comments {
display: none;
}

.entry-title {
margin: 0;
color: #66A9F0;
font-size: 43px;
font-weight: normal;
}

.entry-content{
	font-size: 13px;
line-height: 27px;
}

#boxes a{
text-decoration:none;
color:#777;	
}
#boxes a:hover span.more{
		background:#66A9F0;
}

#boxes span.more {
width: 78px!important;
height: 25px!important;
background: #A0CB68;
box-shadow: 0 2px 2px #6D6D6D!important;
color: white;
text-shadow: 0 -1px 0px #658D31;
display: block;
text-align: center;
line-height: 25px;
text-decoration: none;
border-radius: 3px;
position: absolute;
bottom: -8px;
z-index: 9;
right: 10px;
}

#boxes span.more:hover{
	background:#66A9F0;
}
