/*
Theme Name: Mutual Revenue
Theme URI: http://wordpress.org/
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: the WordPress team
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
Text Domain: twentyten
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

body{
   background:url('images/bg.gif');
   font-family:'droid sans', 'trebuchet ms', sans-serif, verdana;
   padding:0px;
   margin:0px;
   color:#696969;
   font-size:12px;
}
a, img{
text-decoration:none!important;
border:0px;
text-underline: none !important;
}
#wrapper{
   position:relative;
   width:900px;
   background:url('images/bg-opac.png');
   min-height:800px;
   left:50%;
   margin-left:-450px;
   box-shadow:0 0 55px #d1d1d1;
   padding:10px 0;
}
#inner{
   width:880px;
   position:relative;
   left:50%;
   margin-left:-440px;
   min-height:800px;
   background:white;
   border-radius:5px;
   box-shadow:0 3px 5px #cfcfcf;
}
header{
   padding:10px;
   position:relative;
}
nav ul {
list-style-type: none;
padding: 0px;
margin: 0px;
position: absolute;
right: 0;
width: 625px;
bottom: 10px;
}
nav ul li {
float: left;
margin: 0 25px;
}
nav ul li a {
text-decoration: none;
font-size: 15px;
color: #838383;
font-family: 'Glegoo';
}
#featured{ 
   width: 100%;  
   position:relative;   
}
#featured ul.ui-tabs-nav{ 
   position:absolute; 
   bottom: -238px; 
   left: 0; 
   list-style:none; 
   padding:0; margin:0; 
   width: 870px; 
   z-index: 99;
}
#featured ul.ui-tabs-nav li{ 
   padding:1px 0;   
   font-size:12px; 
   color:#666; 
   float: left;
   width: 280px;
   background: #f7f7f7;
   margin: 0 5px;
   position: relative;
   left: 5px;
   height: 246px;
   box-shadow: 0 1px 2px #d9d9d9;
   border-radius: 3px;
}
#featured ul.ui-tabs-nav li img{ 
   float:left; margin:2px 5px; 
   background:#fff; 
   padding:2px; 
   border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
   font-size:11px; 
   font-family: 'Glegoo'; 
   line-height:18px; 
   font-size: 15px;
   position: relative;
   top: 9px;
   left: 7px;
}
#featured li.ui-tabs-nav-item a{ 
   display:block; 
   height: 38px; 
   color:#333;   
}
#featured li.ui-tabs-selected{ 
   background:url('images/selected-item.gif') top left no-repeat;  
}
#featured .ui-tabs-panel{ 
   width: 100%; 
   height: 407px;  position:relative;
}
#featured .ui-tabs-panel .info{ 
   position:absolute; 
   bottom: 47px; 
   left: 12px; 
   height: 47px;  
}
#featured .info h2{ 
   font-size:18px; 
   font-family: 'Glegloo';  padding:5px; margin:0;
   overflow:hidden; 
   color: black;
}
#featured .info p{ 
   margin:0 5px; 
   font-family:Verdana; font-size:11px; 
   line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
   text-decoration:none; 
   color: #a2c124; 
   font-family: 'Glegoo';
   font-size: 54px;
}
#featured .ui-tabs-hide{ 
   display:none; 
}
.ui-tabs-panel img {
position: absolute;
right: 0px;
}
#pitch {
position: absolute;
z-index: 9;
height: 248px;
width: 463px;
background: url('images/pitch.png') no-repeat;
top: 34px;
left: 42px;
}
.ui-tabs-nav-item {
opacity: 0.5;
}
.ui-tabs-selected{
opacity:1;
}

.ui-tabs-nav-item div {
background: #FDFDFD;
margin: 0 5px;
border-radius: 2px;
box-shadow: 0 1px 1px #D9D9D9;
height: 202px;
}

.ui-tabs-nav-item div a {
background: url('images/more.gif') no-repeat;
height: 24px!important;
width: 258px;
position: absolute;
bottom: 13px;
left: 50%;
margin-left: -129px;
border-radius: 2px;
box-shadow: 0 1px 1px dimGray;
}
.ui-tabs-nav-item div a:hover{
   background-position-y:bottom;
}
#slider {
height: 659px;
}
#footer {
padding: 10px;
}
#footer span.copy{
   opacity:0.6;
}
#footer div a {
font-family: 'Glegoo';
color: dimGray;
font-size: 15px;
}
#footer div {
position: absolute;
right: 11px;
bottom: 13px;
color: silver;
}
nav ul li a:hover, a:hover{
color: #B0CC4F!important;
}
